.background {
    background-color: #9C835F;
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
}


.refresh {
    position: absolute;
    width: 77px;
    height: 71px;
    left: 681px;
    top: 843px;
}

.font {
    position: absolute;
    width: 296px;
    height: 186px;
    left: 589px;
    top: 419px;

    font-size: 144px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0,1em;
    text-transform: uppercase;
    color: #BD0000;
}

.info {
    text-align: center;
}

.navigasi {
    position: absolute;
    width: 55px;
    height: 87px;
    left: 37px;
    top: 12px;
}

.judul {
    font-size: 36px;
    align-items: center;
    font-family: 'Open Sans'; 
    color: #F9B23D;
}

.player1 {
    position: absolute;
    width: 299px;
    height: 94px;
    left: 296px;
    top: 162px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0,1em;
    text-transform: uppercase;

    color: #000000;
}

.com {
    position: absolute;
    width: 299px;
    height: 94px;
    left: 865px;
    top: 162px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.batuplayer {
    width: 128px;
    height: 92px;
    left: 382px;
    top: 267px;
}

.kertasplayer {
    width: 115px;
    height: 150px;
    left: 388px;
    top: 440px;
}

.guntingplayer {
    width: 134px;
    height: 160px;
    left: 369px;
    top: 671px;
}

.batucom {
    width: 128px;
    height: 92px;
    left: 951px;
    top: 267px;
}

.kertascom{
    width: 115px;
    height: 150px;
    left: 970px;
    top: 440px;
}

.guntingcom {
    width: 134px;
    height: 160px;
    left: 951px;
    top: 671px;
}

.pwin {
    position: absolute;
    width: 296px;
    height: 186px;
    left: 568px;
    top: 525.37px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

    transform: rotate(-30.98deg);

    position: absolute;
    width: 271.11px;
    height: 166.93px;
    left: 595px;
    top: 440px;

    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
}

.comwin {
    position: center;
    width: 296px;
    height: 186px;
    left: 568px;
    top: 525.37px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

    transform: rotate(-30.98deg);

    position: absolute;
    width: 271.11px;
    height: 166.93px;
    left: 595px;
    top: 440px;

    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
}

.draw {
    position: relative;
    width: 296px;
    height: 186px;
    left: 575px;
    top: 544.37px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 140px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

    transform: rotate(-30.98deg);

    position: absolute;
    width: 271.11px;
    height: 166.93px;
    left: 595px;
    top: 440px;

    background: #035B0C;
    border-radius: 10px;
    transform: rotate(-28.87deg);
}


.cobagunting {
    position: absolute;
    width: 223px;
    height: 204px;
    left: 334px;
    top: 671px;
    border-color: transparent;
    background: #C4C4C4;
    border-radius: 30px;
}

.cobabatu {
    position: absolute;
    width: 223px;
    height: 204px;
    left: 334px;
    top: 209px;

    background: #C4C4C4;
    border-radius: 30px;
}

.cobakertas {
    position: absolute;
    width: 223px;
    height: 204px;
    left: 334px;
    top: 413px;

    background: #C4C4C4;
    border-radius: 30px;
}

.cobacombatu {
    position: absolute;
    width: 223px;
    height: 204px;
    left: 903px;
    top: 209px;

    background: #C4C4C4;
    border-radius: 30px;
}

.cobacomkertas {
    position: absolute;
    width: 223px;
    height: 204px;
    left: 910px;
    top: 413px;

    background: #C4C4C4;
    border-radius: 30px;
}

.cobacomgunting {
    position: absolute;
    width: 223px;
    height: 204px;
    left: 910px;
    top: 671px;

    background: #C4C4C4;
    border-radius: 30px;
}
